<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu header-->
    <!-- <div class="main-menu-header"> -->
    <!-- <input type="text" placeholder="Search" class="menu-search form-control round" /> -->
    <!-- </div> -->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation components" data-menu="menu-navigation" class="navigation navigation-main">

            <li class=" nav-item"><a routerLink="home"><i class="fas fa-home"></i><span
                        class="menu-title">Dashboard</span></a>
            </li>
            <!-- <li class=" nav-item"><a routerLink="#"><i class="fas fa-code-branch"></i><span
                        class="menu-title">Masters</span></a>
            </li>
            <li class=" nav-item"><a routerLink="BillOfMaterial"><i class="fas fa-money-bill-wave"></i><span
                        class="menu-title">Purchase</span></a>
            </li> -->
            <li class=" nav-item"><a (click)="router.navigate(['store'])"><i class="fas fa-store"></i><span
                        class="menu-title">Store</span></a>
            </li>
            <li class=" nav-item"><a (click)="router.navigate(['sales'])"><i class="fas fa-comments-dollar"></i><span
                        class="menu-title">Sale</span></a>
            </li>

            <li class=" nav-item has-sub"><a href="#"><i class="fas fa-code-branch"></i><span class="menu-title">Masters
                    </span></a>
                <ul class="menu-content">
                    <li><a (click)="router.navigate(['masters/itemMaster'])" class="menu-item">Item Master</a>
                    </li>
                    <li><a class="menu-item">Item Unit Master</a>
                    </li>
                    <li><a (click)="router.navigate(['masters/itemCategoryMaster'])" class="menu-item">Item Category
                            Master</a>
                    </li>
                    <li><a (click)="router.navigate(['masters/itemSubCategoryMaster'])" class="menu-item">Item
                            Sub-Category Master</a>
                    </li>
                    <li><a (click)="router.navigate(['masters/hsnMaster'])" class="menu-item">HSN Master</a>
                    </li>
                    <li><a (click)="router.navigate(['masters/tallyMaster'])" class="menu-item">Tally Master</a>
                    </li>
                    <li><a (click)="router.navigate(['masters/bomMaster'])" class="menu-item">BOM Master</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a (click)="router.navigate(['sales'])"><i class="fas fa-comments-dollar"></i><span
                        class="menu-title">Purchase</span></a>
            </li>
            <li class=" nav-item"><a routerLink="#"><i class="fas fa-file-invoice-dollar"></i><span
                        class="menu-title">GST</span></a>
            </li>
            <li class=" nav-item"><a routerLink="#"><i class="fas fa-sliders-h"></i><span
                        class="menu-title">Utility</span></a>
            </li>
        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
<!-- / main menu-->