input,
select {
  border-radius: 20px;
  text-align: center;
}
select:hover {
  cursor: pointer;
}
input:focus,
select:focus {
  box-shadow: 5px 10px 18px #056bf1;
}
.invalid {
  box-shadow: 5px 10px 18px red;
}
.valid {
  box-shadow: 5px 10px 18px green;
}

/* button {
  cursor: pointer;
  border-radius: 20px;
  background-color: #056bf1;
  width: 100%;
  text-align: center;
  border: none;
  line-height: 30px;
} */
button:hover {
  box-shadow: 5px 10px 18px #388bf8;
}
